@model CircuitSharp.Models.EditorModel
@using CircuitSharp.Util.CSV;

@{
    Layout = null;
}

<!--
    EDITOR INDEX PAGE
-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editor</title>
    <link rel="import" href="Menu" />
    <link rel="stylesheet" href="~/css/home-editor.css"/>

    <script data-main="~/js/Editor/GhostHandlerTS" src="~/lib/fallback/fallback.js"></script>
    <script type="text/javascript" src="~/js/Editor/GhostHandlerTS.js"></script>
</head>

<body>
    <div class="componentButtonContainer">
        <table class="componentButtonTable" id="componentButtonTable">
            <tr class="componentButtonTableRow" id="componentButtonTableRow-0">
                <td class="componentButtonTableData" id="componentButtonTableData-0-0">
                    <button type="button" class="componentButton">
                        <img src="http://localhost:8001/Images/ComponentImage?TypeID=0" alt="" id="component-0"/>
                    </button>
                </td>
                <td class="componentButtonTableData" id="componentButtonTableData-0-1">
                    <button type="button" class="componentButton">
                        <img src="http://localhost:8001/Images/ComponentImage?TypeID=1" alt="" id="component-1"/>
                    </button>
                </td>
            </tr>
            <tr class="componentButtonTableRow" id="componentButtonTableRow-1">
                <td class="componentButtonTableData" id="componentButtonTableData-1-0">
                    <button type="button" class="componentButton">
                        <img src="http://localhost:8001/Images/ComponentImage?TypeID=2" alt="" id="component-2"/>
                    </button>
                </td>
                <td class="componentButtonTableData" id="componentButtonTableData-1-1">
                    <button type="button" class="componentButton" >
                        <img src="http://localhost:8001/Images/ComponentImage?TypeID=3" alt="" id="component-3"/>
                    </button>
                </td>
            </tr>
            <tr class="componentButtonTableRow" id="componentButtonTableRow-2">
                <td class="componentButtonTableData" id="componentButtonTableData-2-0">
                    <button type="button" class="componentButton">
                        <img src="http://localhost:8001/Images/ComponentImage?TypeID=4" alt="" id="component-4" />
                    </button>
                </td>
                <td class="componentButtonTableData" id="componentButtonTableData-2-0">
                    <button type="button" class="componentButton">
                        <img src="http://localhost:8001/Images/ComponentImage?TypeID=5" alt="" id="component-5" />
                    </button>
                </td>
            </tr>
            <tr class="componentButtonTableRow" id="componentButtonTableRow-2">
                <td class="componentButtonTableData" id="componentButtonTableData-2-0">
                    <button type="button" class="componentButton">
                        <img src="http://localhost:8001/Images/ComponentImage?TypeID=6" alt="" id="component-6" />
                    </button>
                </td>
                <td class="componentButtonTableData" id="componentButtonTableData-2-0">
                    <button type="button" class="componentButton">
                        <img src="http://localhost:8001/Images/ComponentImage?TypeID=7" alt="" id="component-7" />
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="activeSchematicArea" id="activeSchematicArea">
        <table class="activeSchematicAreaTable" id="activeSchematicAreaTable">
            <tr class="activeSchematicAreaTableRow" id="activeSchematicAreaTableRow-0">
                <td class="activeSchematicAreaTableData" id="0">

                </td>

                <td class="activeSchematicAreaTableData" id="1">

                </td>

                <td class="activeSchematicAreaTableData" id="2">

                </td>

                <td class="activeSchematicAreaTableData" id="3">

                </td>

                <td class="activeSchematicAreaTableData" id="4">

                </td>
            </tr>

            <tr class="activeSchematicAreaTableRow" id="activeSchematicAreaTableRow-1">
                <td class="activeSchematicAreaTableData" id="5">

                </td>

                <td class="activeSchematicAreaTableData" id="6">

                </td>

                <td class="activeSchematicAreaTableData" id="7">

                </td>

                <td class="activeSchematicAreaTableData" id="8">

                </td>

                <td class="activeSchematicAreaTableData" id="9">

                </td>
            </tr>

            <tr class="activeSchematicAreaTableRow" id="activeSchematicAreaTableRow-2">
                <td class="activeSchematicAreaTableData" id="10">

                </td>

                <td class="activeSchematicAreaTableData" id="11">

                </td>

                <td class="activeSchematicAreaTableData" id="12">

                </td>

                <td class="activeSchematicAreaTableData" id="13">

                </td>

                <td class="activeSchematicAreaTableData" id="14">

                </td>
            </tr>

            <tr class="activeSchematicAreaTableRow" id="activeSchematicAreaTableRow-3">
                <td class="activeSchematicAreaTableData" id="15">

                </td>

                <td class="activeSchematicAreaTableData" id="16">

                </td>

                <td class="activeSchematicAreaTableData" id="17">

                </td>

                <td class="activeSchematicAreaTableData" id="18">

                </td>

                <td class="activeSchematicAreaTableData" id="19">

                </td>
            </tr>

            <tr class="activeSchematicAreaTableRow" id="activeSchematicAreaTableRow-4">
                <td class="activeSchematicAreaTableData" id="20">

                </td>

                <td class="activeSchematicAreaTableData" id="21">

                </td>

                <td class="activeSchematicAreaTableData" id="22">

                </td>

                <td class="activeSchematicAreaTableData" id="23">

                </td>

                <td class="activeSchematicAreaTableData" id="24">

                </td>
            </tr>
        </table>

        <hr />

        <form id="userIDForm" name="userIDForm" class="userIDForm">
            <label for="userID">Enter your UserID:</label>
            <input type="text" id="userID" name="userID" />
        </form>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>