@model CircuitSharp.Models.EditorModel
@using CircuitSharp.Util.CSV;

@{
    Layout = null;
}

<!--
    EDITOR INDEX PAGE
-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editor</title>
    <link rel="import" href="Menu" />
    <link rel="stylesheet" href="~/css/home-editor.css"/>

    <script data-main="~/js/GhostHandler" src="~/lib/fallback/fallback.js"></script>
    <script type="text/javascript" src="~/js/Editor/GhostHandler.js"></script>
</head>

<body>
    <div class="componentButtonContainer">
        <table class="componentButtonTable" id="componentButtonTable">
            <tr class="componentButtonTableRow" id="componentButtonTableRow-0">
                <td class="componentButtonTableData" id="componentButtonTableData-0-0">
                    <button type="button" class="componentButton" id="component-0">
                        <img src="https://picsum.photos/200" alt="" />
                    </button>
                </td>
                <td class="componentButtonTableData" id="componentButtonTableData-0-1">
                    <button type="button" class="componentButton" id="component-1">
                        <img src="https://picsum.photos/200" alt="" />
                    </button>
                </td>
            </tr>
            <tr class="componentButtonTableRow" id="componentButtonTableRow-1">
                <td class="componentButtonTableData" id="componentButtonTableData-1-0">
                    <button type="button" class="componentButton" id="component-2">
                        <img src="https://picsum.photos/200" alt="" />
                    </button>
                </td>
                <td class="componentButtonTableData" id="componentButtonTableData-1-1">
                    <button type="button" class="componentButton" id="component-3">
                        <img src="https://picsum.photos/200" alt="" />
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="activeSchematicArea" id="activeSchematicArea">
        <table class="activeSchematicAreaTable" id="activeSchematicAreaTable">
            <tr class="activeSchematicAreaTableRow" id="activeSchematicAreaTableRow-0">
                <td class="activeSchematicAreaTableData" id="0">

                </td>

                <td class="activeSchematicAreaTableData" id="1">

                </td>

                <td class="activeSchematicAreaTableData" id="2">

                </td>

                <td class="activeSchematicAreaTableData" id="3">

                </td>

                <td class="activeSchematicAreaTableData" id="4">

                </td>
            </tr>

            <tr class="activeSchematicAreaTableRow" id="activeSchematicAreaTableRow-1">
                <td class="activeSchematicAreaTableData" id="5">

                </td>

                <td class="activeSchematicAreaTableData" id="6">

                </td>

                <td class="activeSchematicAreaTableData" id="7">

                </td>

                <td class="activeSchematicAreaTableData" id="8">

                </td>

                <td class="activeSchematicAreaTableData" id="9">

                </td>
            </tr>

            <tr class="activeSchematicAreaTableRow" id="activeSchematicAreaTableRow-2">
                <td class="activeSchematicAreaTableData" id="10">

                </td>

                <td class="activeSchematicAreaTableData" id="11">

                </td>

                <td class="activeSchematicAreaTableData" id="12">

                </td>

                <td class="activeSchematicAreaTableData" id="13">

                </td>

                <td class="activeSchematicAreaTableData" id="14">

                </td>
            </tr>

            <tr class="activeSchematicAreaTableRow" id="activeSchematicAreaTableRow-3">
                <td class="activeSchematicAreaTableData" id="15">

                </td>

                <td class="activeSchematicAreaTableData" id="16">

                </td>

                <td class="activeSchematicAreaTableData" id="17">

                </td>

                <td class="activeSchematicAreaTableData" id="18">

                </td>

                <td class="activeSchematicAreaTableData" id="19">

                </td>
            </tr>

            <tr class="activeSchematicAreaTableRow" id="activeSchematicAreaTableRow-4">
                <td class="activeSchematicAreaTableData" id="20">

                </td>

                <td class="activeSchematicAreaTableData" id="21">

                </td>

                <td class="activeSchematicAreaTableData" id="22">

                </td>

                <td class="activeSchematicAreaTableData" id="23">

                </td>

                <td class="activeSchematicAreaTableData" id="24">

                </td>
            </tr>
        </table>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>