@model CircuitSharp.Models.EditorModel
@using CircuitSharp.Util.CSV;

@{
    Layout = null;
}

<!--
    EDITOR INDEX PAGE
-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editor</title>
    <link rel="import" href="Menu" />
    <link rel="stylesheet" href="~/css/home-editor.css"/>

    <script data-main="~/js/GhostHandler" src="~/lib/fallback/fallback.js"></script>
    <script type="text/javascript" src="~/js/Editor/GhostHandler.js"></script>
</head>

<body>
    <div class="componentButtonContainer">
        <div class="" id="componentButtonContainer">
            <button type="button" id="component-0">Click Me Pls</button>
        </div>
    </div>
    <div class="activeSchematicArea" id="activeSchematicArea">
        <table class="activeSchematicAreaTable">
        @{ 
            // Makes the table with the right sizes
            for (int i = 0; i < EditorModel.RowCount; i++)
            {
                <tr class="activeSchematicAreaTableRow">
                    @{ 
                        for (int j = 0;  j < EditorModel.ColumnCount; j++)
                        {
                            <td class="activeSchematicAreaTableColumn"></td>
                        }
                    }
                </tr>
            }
        }
        </table>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>