@model CircuitSharp.Models.EditorModel
@using CircuitSharp.Util.CSV;

@{
    Layout = null;
}
<!--
    EDITOR INDEX PAGE
-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editor</title>
    <link rel="import" href="Menu" />
</head>
<body>

@{ 
    CSVFile<string> csv = Model.GetCSVFile(@"G:\circuit-sharp2\circuit-sharp\UserData\favoriteComponents.csv");
    KeyValuePair<CSVEnum, string> record;
    csv.TryGetRecordByIndex(0, out record);
    <div>
        @record
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>