@model CircuitSharp.Models.EditorModel
@using CircuitSharp.Util.CSV;

@{
    Layout = null;
}

<!--
    EDITOR INDEX PAGE
-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editor</title>
    <link rel="import" href="Menu" />
    <link rel="stylesheet" href="" />

    <script data-main="~/js/GhostHandler" src="~/lib/fallback/fallback.js"></script>
    <script type="text/javascript" src="~/js/Editor/GhostHandler.js"></script>
</head>
<body>
    <div class="activeSchematicArea" id="activeSchematicArea">
        <div class="" id="componentButtonContainer">
            <button type="button" id="component-0">Click Me Pls</button>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>