@model CircuitSharp.Models.EditorModel
@using CircuitSharp.Util.CSV;

@{
    Layout = null;
}

<!--
    EDITOR INDEX PAGE
-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editor</title>
    <link rel="import" href="Menu" />

    <script data-main="~/js/GhostHandler" src="~/lib/fallback/fallback.js"></script>
    <script type="text/javascript" src="~/js/Editor/GhostHandler.js"></script>
</head>
<body>
<!--
    Just use JS for active schematic area,
    Send post to controller to amend model,
    Ensure to avoid desync
-->

    <div class="" id="componentButtonContainer">
        <!--TMP: idk if componentID 0 is a resistor, this is just a placeholder for testing-->
        <img class="" alt="componentid0" src="~/img/purpleBlackMissingTexture.png" id="component-0" />
        <img class="" alt="componentid1" src="~/img/missingTexture.png" id="component-1" />
    </div>
    
    <div class="" id="activeSchematicArea">

    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>