@model CircuitSharp.Models.EditorModel
@using CircuitSharp.Util.CSV;

@{
    Layout = null;
}

<!--
    EDITOR INDEX PAGE
-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editor</title>
    <link rel="import" href="Menu" />
    <script type="text/javascript" src="~/js/Editor/TrackMouse.js"></script>
    <script type="text/javascript" src="~/js/Editor/ComponentGhost.js"></script>
    <script type="text/javascript" src="~/js/Editor/Mouse.js"></script>
</head>
<body>
<!--
    Just use JS for active schematic area,
    Send post to controller to amend model,
    Ensure to avoid desync
-->

    <div class="" id="activeSchematicArea">

    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>