@model EditorModel
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Editor";
}

<head>
    <link rel="stylesheet" href="" />
</head>

<body>
    <h1>Editor</h1>
    <hr />
    <h2>@{
            List<string> favComponents = EditorModel.GetProduct();
            
            for (int i = 0; i < favComponents.Count; i++)
            {
                <div>
                    @favComponents[i]
                </div>
            }
        }
    </h2>
</body>