.activeSchematicArea {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("https://localhost:44338/Home/MissingTexture");
    /* Preserve Aspect Ratio */
    min-width: 100%;
    min-height: 100%;
}

.component {
    position: absolute; /* Makes the component react to left:; and top:; */
}

/* https://css-tricks.com/perfect-full-page-background-image/ */